*{
    font-size: 0px;
    margin: 0px;
}

@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: segoe-ui;
    src: url(./fonts/Segoe\ UI\ Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: segoe-ui;
    src: url(./fonts/Segoe\ UI\ regular.ttf);
    font-weight:normal;
}

.logo{
    display: inline-block;
    /* margin-left: 278px; */
    margin-top: 43px;
}

.logo img{
    margin-right: 17px;
    vertical-align: middle;
}

.head{
    height: 854px;
    background-image: url(./images/Mask\ Group\ 1.png); 
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}

.head .nav{
    display: inline-block;
    margin-left: 247px;
    margin-top: 48px;
    vertical-align: top;
}

.head .nav ul{
    display: inline-flex;
    flex-wrap: wrap;
}

.head .logo span{
    font-family: relaway;
    font-size: 39px;
    color: #FFFFFF;
    vertical-align: middle;
}

.head nav li{
    margin: 0px 17px;
}

.head nav a{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#F0F4FA;  
    text-decoration: none;
}

.head nav .home{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 20px;
    color:#F0F4FA;  
    text-decoration: none;
}

.head nav .Register{
    width: 182px;
    height: 60px;
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 20px;
    color:#F0F4FA;  
    background-color: #572BD9;
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
    margin-left: 17px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #FFDD33;
    margin-top: 10px;
    border-radius: 24px;
}

.head .section-1{
    text-align: center;    
}

.head .section-1 h1{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color:#FFFFFF;  
    margin-bottom: 18px;
    margin-top: 134px;
}

.head .section-1 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#FFFFFF;  
}

.head .section-1 button{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#FFFFFF;  
    background-color:#572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
}

.head .section-1 .yelow{
    background-color: #FFDD33;
    margin-right: 74px;
    margin-top: 45px;
}

.head .image{
    margin-top: 52px;
}

.head .ikone{
    margin-bottom: 182px;
}

.head .ikone img{
    margin: 0px 54px;
}

/* section-2 */

.section-2{
    margin-top: 730px;
    padding-top: 110px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #FBFCFE;
}

.section-2 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color:#040404;
    margin-bottom: 30px;
}

.section-2 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC;
}

.section-2 .about-us .about{    
    display: inline-block;
    width: 414px;
    height: 431px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 131px 30px;
    box-shadow: 0px 20px 40px rgb(36 38 114 / 11%);
}

.section-2 .about-us .relative{
    display: inline-block;
    position: relative;
    margin-top: 87px;
    margin-left: 62px;    
}

.section-2 .about-us .backround-img{
    display: inline-block;
    width: 73px;
    height: 70px;
    background-color: #875FFF;
    opacity: 10%;
    text-align: center;
    border-radius: 15px;
}

.section-2 .about-us .green{
    background-color: #57E5AC;
}

.section-2 .about-us .yelow{
    background-color: #FFE014;
}

.section-2 .about-us img{
    position: absolute;
    left: 17px;
    top: 15px;
}

.section-2 .about-us .image-2{
    left: 12px;
    top: 19px;
}

.section-2 .about-us h3{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    margin-top: 27px;
    margin-bottom: 21px;
    margin-left: 62px;
}

.section-2 .about-us p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 16px;
    color: #7E92AC;
    margin-left: 62px;
    margin-right: 61px;
    line-height: 1.5;
}