*{
    font-size: 0px;
    margin: 0px;
}

@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: segoe-ui;
    src: url(./fonts/Segoe\ UI\ Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: segoe-ui;
    src: url(./fonts/Segoe\ UI\ regular.ttf);
    font-weight:normal;
}

/* head */

.logo{
    display: inline-block;
    margin-top: 43px;
}

.logo img{
    margin-right: 17px;
    vertical-align: middle;
}

.head{
    height: 940px;
    background-image: url(./images/Mask\ Group\ 1.png); 
    background-position: center bottom;
    background-size: cover;
    padding: 0px 150px;
    box-sizing: border-box;
}

.head .nav{    
    margin-left: 150px;
    margin-top: 48px;
    vertical-align: top;
    float: right;
}

.head .nav-2{
    display: none;
}

.head .nav ul{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 27px;
    padding: 0px;
}

.head .logo span{
    font-family: relaway;
    font-size: 39px;
    color: #FFFFFF;
    vertical-align: middle;
}

.head nav a{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#F0F4FA;  
    text-decoration: none;
    padding: 10px;
}

.head nav .home{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 20px;
    color:#F0F4FA;  
    text-decoration: none;
}

.head nav .Register{
    width: 182px;
    height: 60px;
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 20px;
    color:#F0F4FA;  
    background-color: #572BD9;
    text-decoration: none;
    border-radius: 10px;
    border: 0px;
    margin-left: 17px;
    cursor: pointer;
}

.head nav a:hover {
    border-bottom: 5px solid #FFDD33;
}

.head .section-1{
    text-align: center;   
    margin-bottom: 52px; 
}

.head .section-1 h1{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color:#FFFFFF;  
    margin-bottom: 18px;
    margin-top: 134px;
}

.head .section-1 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#FFFFFF;  
}

.head .section-1 button{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#FFFFFF;  
    background-color:#572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    cursor: pointer;
}

.head .section-1 .yelow{
    background-color: #FFDD33;
    margin-right: 74px;
    margin-top: 45px;
}

.head .image{
    margin-top: 52px;
    width: 1099px;
    margin: auto;
}

.head .image img{
    width: 100%;
}

.head .ikone{
    margin-bottom: 133px;
    margin-top: 182px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.head .ikone img{
    margin: 0px 54px;    
}

/* section-2 */

.section-2{
    margin-top: 730px;
    padding-top: 110px;
    padding-bottom: 160px;
    text-align: center;
    background-color: #FBFCFE;
}

.section-2 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color:#040404;
    margin-bottom: 30px;
}

.section-2 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC;
}

.section-2 .about-us{
    position: relative;
    margin: auto;
}

.section-2 .about-us .about{    
    display: inline-block;
    width: 414px;
    height: 431px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 131px 30px;
    padding-left: 62px;
    box-shadow: 0px 20px 40px rgb(36 38 114 / 11%);
    box-sizing: border-box;
}

.section-2 .about-us .relative{
    display: inline-block;
    position: relative;
    margin-top: 87px;   
}

.section-2 .about-us .backround-img{
    display: inline-block;
    position: relative;
    width: 73px;
    height: 70px;
    background-color: rgb(135 95 255 / 10%);
    text-align: center;
    border-radius: 15px;
}

.section-2 .about-us .green{
    background-color: rgb(87 229 172 / 10%);
}

.section-2 .about-us .yelow{
    background-color: rgb(255 224 20 / 10%);
}

.section-2 .about-us img{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-2 .about-us .image-2{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-2 .about-us h3{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    margin-top: 27px;
    margin-bottom: 21px;
}

.section-2 .about-us p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 16px;
    color: #7E92AC;
    line-height: 1.5;
}

/*section-3*/

.section-3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    gap: 118px;
    padding-top: 135px;
    padding-bottom: 105px;
}

.section-3 div{
    display: inline-block;
    width: 812px;
    height: 583px;
}

.div-white{
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgb(36 38 114 / 11%);  
}

.section-3 .text h3{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color:#040404;  
    margin-top: 113px;  
    margin-bottom: 42px;
}

.section-3 .text p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#7E92AC;    
    line-height: 2;
}

.section-3 .text button{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    margin-top: 50px;
    cursor: pointer;
}

/*section-4*/

.section-4{
    background-image: url(./images/Mask\ Group\ 56.png);
    height: 629px;
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    padding-top: 93px;
    padding-bottom: 204px;
    box-sizing: border-box;
}

.section-4 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;  
    margin-bottom: 60px;
}

.section-4 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color:#FFFFFF;    
    line-height: 2;
}

.section-4 .yelow{
    margin-top: 60px;
    background-color: #FFDD33;    
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    cursor: pointer;
}


/*section-5*/

.section-5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 130px; 
    background-color: #FFFFFF;
    padding-top: 153px;
    padding-bottom: 169px;      
}

.section-5 div{
    display: inline-block;
}

.section-5 img{
    vertical-align: top;
    margin-right: 27px;
}

.section-5 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #040404;  
    margin-bottom: 47px;
    display: inline-block;
}

.section-5 p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 16px;
    color:#7E92AC;    
    line-height: 1.7;
    display: inline-block;
    vertical-align: top;
}

.section-5 .text div{
    margin-top: 28px;
    display: block;
}

.section-5 .text button{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    margin-top: 65px;
    cursor: pointer;
}

.div-white{
    width: 820px;
    height: 583px;
}

/* section-6 */

.section-6{
    padding-top: 119px;
    padding-bottom: 88px;
    text-align: center;
    background-color: #FBFCFE;
}

.section-6 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #040404;  
    margin-bottom: 131px;
}

.section-6 .testimonials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px;
}

.section-6 .testimonials div{
    width: 429px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 61px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: relative;
}

.section-6 .testimonials h3{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 30px;
    color: #000000;  
    margin-top: 80px;    
}

.section-6 .testimonials h4{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 18px;
    color: #7E92AC;   
    margin-top: 7px;  
    margin-bottom: 27px; 
}

.section-6 .testimonials p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 16px;
    color: #7E92AC;   
    line-height: 1.7;  
    margin-bottom: 37px; 
}

.section-6 .testimonials .absolute{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -43px;
}

.section-6 .page div{   
    width: 16px;
    height: 16px;
    background-color: #CDDDF3;
    border-radius: 50px;
    display: inline-block;
    margin: 8px;
    margin-top: 83px;
    margin-bottom: 88px;
    cursor: pointer;
}

.section-6 .page div:hover{   
    background-color: #6736F9; 
}

.active{   
    background-color: #6736F9; 
}

/* section-7 */

.section-7{
    background-image: url(./images/Mask\ Group\ 58.png);
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 181px;
    box-sizing: border-box;
}

.section-7 h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;  
}

.section-7>p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;   
    line-height: 1.7;  
    margin-top: 38px;
    margin-bottom: 96px;
}

.section-7 .level{
    text-align: center;
}

.section-7 .page-2{
    display: none;
}

.section-7 .level .level-1{
    width: 440px;
    background-color: #FCFDFF;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.section-7 .level h2{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 30px;
    color: #000000; 
}

.section-7 .level h3{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 84px;
    color: #000000; 
    margin-top: 19px;
    margin-bottom: 10px;
}

.section-7 .level span{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #000000; 
    display: block;
    margin-bottom: 31px;
}

.section-7 .level p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #000000; 
}

.section-7 .level>div{
    display: inline-block;
    padding: 31px 46px;
}

.section-7 .level-1>div{
    text-align: left;
    margin-top: 28px;
    margin-left: 75px;
}


.section-7 .level div div p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    display: inline-block;
    margin-left: 26px;
}

.section-7 .level-1 button{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    margin-top: 106px;
    cursor: pointer;
}

.section-7 .level .blue{
    background-color: #6837FA;
}

.section-7 .level .blue h2{
    color: #FFFFFF;
}

.section-7 .level .blue h3{
    color: #FFFFFF;
}

.section-7 .level .blue span{
    color: #FFFFFF;
}

.section-7 .level .blue p{
    color: #FFFFFF;
}

/* section-8 */

.section-8 .questions{
    text-align: center;
    background-color: rgb(232 241 253 / 14%)
}

.section-8 .questions h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #000000; 
    margin-top: 135px;
}

.section-8 .questions>p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #000000; 
    margin-top: 43px;
    margin-bottom: 164px;
}

.section-8 .questions .question{
    width: 653px;
    text-align: left;
    margin-bottom: 60px;
}

.section-8 .questions .question div{
    display: inline-block;
    width: 545px;
    margin-left: 32px;
}

.section-8 .questions .question img{
    vertical-align: top;
}

.section-8 .questions .question h3{
    display: inline-block;
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 30px;
    color: #000000; 
    margin-top: 15px;
}

.section-8 .questions .question p{
    display: inline-block;
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 16px;
    color: #7E92AC;
}

.questions>div{
    display: inline-block;
    margin: 0px 39px;
    margin-bottom: 237px;
}

.section-8 .input-message{
    padding-top: 119px;
    padding-bottom: 60px;
    text-align: center;
}

.section-8 .input-message h2{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 64px;
    color: #000000; 
}

.section-8 .input-message p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    margin-top: 31px;
    margin-bottom: 43px;
}

.section-8 .input-message input{
    display: block;
    margin: 0 auto;
    width: 704px;
    height: 75px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    padding-left: 38px;
    box-sizing: border-box;
    background-color: #FCFDFF;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
}

.section-8 .input-message textarea{  
    width: 704px;
    height: 279px;
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    padding-top:  25px;
    padding-left: 38px;
    box-sizing: border-box;
    background-color: #FCFDFF;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    resize: none;
}

.section-8 .input-message button{ 
    display: block; 
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #572BD9;
    border: 0px;
    border-radius: 10px;
    width: 222px;
    height: 68px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 74px;    
}

/* section-9 */

.section-4.section-9{
    background-image: url(./images/Mask\ Group\ 57.png);
    padding-top: 242px;
    height: 642px;
    box-sizing: border-box;
}

/* section-10 */

.section-10{
    padding-top: 118px;
    padding-bottom: 102px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 133px;
}

.section-10 .about{
    width: 310px;
}

.section-10 .about h2{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 30px;
    color: #000000; 
    margin-bottom: 42px;
}

.section-10 .about p{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
}

.section-10 .link{
    width: 226px;
}

.section-10 .link h2{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 30px;
    color: #000000; 
    margin-bottom: 42px;
}

.section-10 .link a{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    text-decoration: none;
}

.section-10 .link ul{
    padding: 0px;
}

.section-10 .link ul li{
    padding: 8px 0px;
}

.section-10 .newsletter h2{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 30px;
    color: #000000; 
    margin-bottom: 44px;
}

.section-10 .newsletter input{
    width: 343px;
    height: 72px;
    border: 1px solid #7E92AC;
    border-radius: 10px;
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #7E92AC; 
    padding-left: 33px;
    box-sizing: border-box;
}

.section-10 .newsletter .submit{
    display: inline-block;
    width: 219px;
    height: 72px;
    background-color: #FEB301;
    border-radius: 10px;
    text-align: center;
    padding-top: 22.5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: -23px;
}

.section-10 .newsletter .submit span{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    padding-right: 31px;
}

.section-10 .newsletter .social-network img{
    cursor: pointer;
}

.section-10 .newsletter .social-network{
    margin-top: 53px;
}

.section-10 .newsletter .social-network .link-2{
    margin: 0px 20px;
}

/* section-11 */

.section-11{
    padding-top: 42px;
    padding-bottom: 50px;
    padding-left: 278px;
    padding-right: 278px;
    background-color: #5B2AEE;
}

.section-11>a{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.section-11 ul{
    display: inline-flex;
    justify-content: center;
    gap: 35px;
    float: right;
}

.section-11 ul li a{
    font-family: segoe-ui;
    font-weight: normal;
    font-size: 20px;
    color: #F0F4FA;
    text-decoration: none;
}

.section-11 ul li .home{
    font-family: segoe-ui;
    font-weight: bold;
    font-size: 20px;
    color: #F0F4FA;
    text-decoration: none;
}

button, input, textarea{
    outline: none;
}